@use "./abstracts" as *;

.title h1 {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: $color1;
padding: 5px;
border-bottom: 5px solid $color4;
border-radius: 10px;
}

.newGame__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 20px;
    color: $color1;
    border: 5px solid $color4;
    border-radius: 7px;
    background-color: $color4;
}

.newGame__button:hover {
    opacity: 0.5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 20px;
    color: $color1;
    border: 5px solid $color4;
    border-radius: 7px;
    background-color: $color4;
}

// .options__button {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     flex-direction: column;
//     margin: 20px;
//     color: $color1;
//     border: 5px solid $color4;
//     border-radius: 7px;
//     background-color: $color4;
// }

.hidden__letter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3px;
    margin: 10px;
    border-bottom: 2px solid $color4;
    border-radius: 4px;
    width: 35px;
    color: $color1b;
}

.revealed__letter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3px;
    margin: 10px;
    border-bottom: 2px solid $color4;
    border-radius: 4px;
    width: 35px;
    color: $color1;
}

.letter__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;    
    justify-items: center;
    width: 300px;
    margin: auto;
    display: none;
}

.letter__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color1;
    background-color: $color4;
    border: 5px solid $color4;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.letter__button:hover {
    opacity: 0.5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color1;
    background-color: $color4;
    border: 5px solid $color4;
    border-radius: 10px;
    height: 30px;
    width: 30px;
}

.y {
    grid-column: 4/5;
}

