@use "./abstracts" as *;

* {
    background-color: $color1b;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    list-style-type: none;
}

.hidden__word {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    display: none;
}





