.title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #307592;
  border-bottom: 5px solid #a88277;
  border-radius: 10px;
}

.letter__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 300px;
  margin: auto;
  display: none;
}

.letter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #307592;
  background-color: #a88277;
  border: 5px solid #a88277;
  border-radius: 10px;
  height: 30px;
  width: 30px;
}

.y {
  grid-column: 4/5;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  list-style-type: none;
}

.newGame__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 20px;
  color: #307592;
  border: 5px solid #a88277;
  border-radius: 7px;
  background-color: #a88277;
}

.options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 20px;
  color: #307592;
  border: 5px solid #a88277;
  border-radius: 7px;
  background-color: #a88277;
}